<template name="HomeLayout">
  {{> Header}}
  <main>
    <div class="billboard">
      <ul>
        <li>Aplikacja powstała z myślą o kobietach w ciąży. Wraz z żoną zastanawiałem się nad nowym pomysłem projektu. Z racji, że żona jest położną wpadła na pomysł stworzenia aplikacji służącej do zorganizowania i zaplanowania 40 tygodni ciąży. Aplikacja ma za zadanie spisać wszystkie istotne zadania, obowiązki jakie czekają na kobietę w ciąży w okresie 40 najbliższych tygodni. Powinna umożliwić ich opisanie, dodanie elementów potrzebnych do wykonania czy cennych wskazówek na jakie trzeba zwrócić uwagę. Ponadto istotnym elementem jest przejrzysty panel użytkownika, możliwość zaznaczenia czynności do wykonania na dziś lub czynności już wykonanych. Aplikacja powstała na zaliczenie z przedmiotu Techniki Internetowe.</li>
        <li>W aplikacji można założyć konto lub zalogować się na konto już istniejące, które dałem do wypełnienia żonie: madzia3D@o2.pl, qwe123
      </ul>
    </div>
  </main>
</template>
